<div class="filter-container">
  <div class="filter-row">
    
    <!-- Looking For -->
    <div class="filter-group">
      <label>Looking For</label>
      <div class="input-icon-wrapper">
        <input type="text" [(ngModel)]="lookingFor" class="form-control modern-input" readonly>
      </div>
    </div>

    <!-- Type -->
    <div class="filter-group">
      <label>Type</label>
      <div class="select-wrapper modern-select-wrapper">
        <select [(ngModel)]="type" (change)="onTypeChange(type)" class="form-control modern-select">
          <option value="">Any</option>
          <option *ngFor="let propType of propertyTypes" [value]="propType">{{ propType |titlecase}}</option>
        </select>
      </div>
    </div>
    
    <!-- Deal Type -->
    <div class="filter-group">
      <label>Deal Type</label>
      <div class="select-wrapper modern-select-wrapper">
        <select [(ngModel)]="dealType" (change)="applyFilters()" class="form-control modern-select">
          <option value="">Any</option>
          <option *ngFor="let dt of dealTypes" [value]="dt">{{ dt }}</option>
        </select>
      </div>
    </div>
    
    <!-- Price -->
    <div class="filter-group">
      <label>Price</label>
      <div class="select-wrapper modern-select-wrapper">
        <select [(ngModel)]="priceRangeDisplay" (change)="onPriceRangeChange(priceRangeDisplay)" class="form-control modern-select">
          <option *ngFor="let range of priceRanges" [value]="range.display">{{ range.display }}</option>
        </select>
      </div>
    </div>

    <!-- Location -->
    <div class="filter-group">
      <label>Location</label>
      <div class="input-icon-wrapper modern-select-wrapper">
        <i class="fa-solid fa-location-dot icon-left"></i>
        <select [(ngModel)]="selectedLocation" (change)="onLocationChange(selectedLocation)" class="form-control modern-select icon-input">
          <option *ngFor="let loc of locations" [value]="loc">{{ loc }}</option>
        </select>
      </div>
    </div>

    <!-- Search -->
    <div class="filter-group wide">
      <label>Find Specific Property</label>
      <div class="search-input-container modern-search">
        <input 
          type="text" 
          [(ngModel)]="search" 
          (input)="onSearchChange(search)" 
          placeholder="Ex. hunian apart"
          class="form-control modern-input">
        <button class="search-button modern-search-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>

    <!-- Filter Button -->
    <div class="filter-group action-button">
      <label>&nbsp;</label>
      <button class="filter-button modern-filter-button" (click)="resetFilters()">
        <i class="fas fa-sliders-h"></i> Reset Filter
      </button>
    </div>
  </div>
</div>