/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
    width: 100%;
        margin: 0;
        padding: 0;
       
       
    }
    ::ng-deep .cdk-overlay-container {
        z-index: 1000; 
      }
      
    ::ng-deep .cdk-overlay-pane {
        position: fixed !important;
        top: auto !important;
        z-index: 2000;
      }
      