.property-card {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2rem;
  border-bottom: lightgray solid 1px;
  width: 65rem;
}
h3{
  font-size: 1.5rem;
  font-weight: 600;
  color: #1F2744;
}
.ttext {
  font-size: 1rem;
  font-weight: 600;
  color: lightslategray;
}
.para{
  font-size: 1rem;
  font-weight: 500;
  color: green;
  align-items: center;
}
p{
  font-size: 1rem;
  font-weight: 500;
  color: green;
  align-items: center;

  
  
  
}
.property-card-image {  
    align-self: flex-start;
    object-fit: cover;
    overflow: hidden;
    
    border-radius: 1rem;

}
.property-card-info {
 flex: 1;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.property-name{
  display: flex;
      flex-wrap: wrap;
      gap: .25rem 1rem;
      align-items: center;
      margin-bottom: .5rem;
      overflow-wrap: anywhere;
  }
.property-card-adress {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem ;
  margin-bottom: 1rem;
  color: #918f90;
  
}
.property-card-adress-item{
  display: flex ;
      gap: .5rem;
      align-items: center;
      text-transform: capitalize;
  }
  .property-data-item {
    display: flex
;
    flex-direction: column;
    gap: .1875rem;
}
.property-card-caption {
  font-size: .875rem;
  line-height: 1.43;
  color: lightslategray;
}
.property-image-container {
  position: relative;
 width: 16rem;
  height: 14rem;
  overflow: hidden;
  border-radius: 1rem;
}
.property-data {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  padding: 0;
}
