.properties-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 1rem;
}   
    
.properties-container {
    width: 100%;
    max-width: 1800px;
    margin : 0 auto;
    padding: 1rem 1rem;
}