.form-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.form-row-view {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    width: min(75rem, 100%);
    margin-inline: auto;
}

.title-2 {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.2;
}

.desc {
    line-height: 1.5;
}

.form-row-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: min(45rem, 100%);
}

.radio_legend {
    display: block;
    width: fit-content;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.5rem;

}

.form-row-legend {
    flex-grow: 1;
    flex-basis: 0;
    display: grid;
    gap: 0.25rem;
}

.radio_input {
    appearance: none;
    background-color: #fff;
    border: 2px solid #E1E1E1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
}

.radio_input:checked {
    background-color: #00C775;
    border-color: #00C775;
}

.radio_input:checked::before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.radio_options{
    display: flex;
    
}
.radio--row .radio_options{
    flex-direction: row;
    
}
.radio--row{
    flex-grow: 1;
    flex-basis: 0;
}
.radio_option{
    display: flex;
    gap: 1rem;
    width: fit-content;
    cursor: pointer;
    line-height: 1.5;
    flex-grow: 1;
    flex-basis: 0;
    padding: 1.4375rem;
    border-width: 0.0625rem;
    border-right-width: 0;
    border: 1px solid #DEDEDE;
    border-radius: 0.25rem;

}
.input_label{
    display: block;
    width: fit-content;
    margin: 0 0 0.25rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5;

}
.input_control{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 0 0.4rem;
    font: inherit;
    color: #1e1e1e;
    background: none;
    border: none;
    border-radius: 0.25rem;


}
.input_inner{
    display: flex;
        align-items: center;
        height: 3rem;
        padding: 0 0.05rem;
        background: #ffffff;
        border: 0.0625rem solid #dedede;
        border-radius: 0.25rem;
        transition: .25s;
    
}
.input_hint{
    font-size: .875rem;
    line-height: 1.43;
    color: #918f90;
}
.select{
    flex-grow: 1;
    width: 100%;
    height: 3rem;
   
    font: inherit;
    color: inherit;
    background: none;
    border: 1px solid #DEDEDE;
    border-radius: 0.25rem;

    padding: 0 0.9375rem 0 0.875rem;
    

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    
    
  

  font-size: 17px;
  line-height: 1.5;
  

  

  width: 100%; /* container lkol! */
  
}
  




.select-status option.selected-option{
    background-color:#E5E7EB;
    color: #fff important;
}



.select-status option:disabled{
    background-color:#E5E7EB;
    color: #fff important;
    cursor: not-allowed;
}
.select-status option:disabled {
    pointer-events: none;
  }

  

.first-select{
    background-color: white;
    color: #1e1e1e;
    background: none;
    
    
}


.cheque-select{
    display: block;
}

.select-wraper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    border: none;
}
.box{
    display: grid;
    flex-wrap: wrap;
    place-content: center;
    min-width: 3rem;
    min-height: 3rem   ;
    padding: .75rem;
    text-align: center;
    cursor: pointer;
    border: .0625rem solid #E5E7EB;
    border-radius: .25rem;
}


   
.form-row-view:not(:last-child) {
    padding-bottom: 2.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 0.0625rem solid lightgray;
}
.grid-col-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 6px;

}
.select-wraper button {
   display: grid;
    flex-wrap: wrap;
    place-content: center;
    min-width: 3rem;
    min-height: 3rem   ;
    padding: .75rem;
    text-align: center;
    cursor: pointer;
    border: .0625rem solid #E5E7EB;
    border-radius: .25rem;
    background-color: white;
  }
    .select-wraper button:hover {
        background-color: lightgray;
     
    }
    .select-wraper button.selected {
        background-color: lightgray;
       
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }






