* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: transparent;
}
.navbar-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: transparent;
    
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #4DB299;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #4DB299;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #777;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #4DB299;
}

.nav-links a.active {
    color: #4DB299;
    position: relative;
}

.nav-links a.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: #4DB299;
    border-radius: 50%;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.sign-in {
    color: #4DB299;
    margin-right: 20px;
    text-decoration: none;
    font-size: 16px;
}

.login-btn {
    background-color: #4DB299;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #3b9a84;
}