<section class="navbar-container">
    <body>
        <nav class="navbar">
            <a href="#" class="logo">
                <div class="logo-circle">E</div>
                <div class="logo-text">EZrent</div>
            </a>
            
            <ul class="nav-links">
                <li><a routerLink="/home" class="active">Home</a></li>
                <li><a routerLink="/property-list">Property</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            
            <div class="auth-buttons">
                <a routerLink="/register" class="sign-in">Sign in</a>
                <button type="button" routerLink="/login" class="login-btn">Login</button>
            </div>
        </nav>
    </body>

</section>
