<div class="property-edit">
<div class="top_body">
    <header class="header">
    <div class="header m-2 d-flex ">
        <!-- breadcrumbs start -->
        <div class="breadcrumbs d-flex gap-3 align-items-center">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    
                    <li class="breadcrumb-item"><a href="/properties">Properties</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Property edit</li>
                </ol>
            </nav>
        </div>
        
        <!-- breadcrumbs end -->
    </div>
    <div class="header_title  d-flex justify-content-between m-3 mb-4 align-items-center">
        <h1 class="">Create Property</h1>
        <div class="header_end">
            <div class="header_end_btn">
                <button type="reset" class="btn btn_cancel "><span class="text-decoration-underline">Cancel</span></button>
                <button class="btn btn_save"(click)="onSubmit()" ><span>Save</span></button></div>
            </div>
        
    </div>
    
    <form [formGroup]="propertyForm" class="property-form" (ngSubmit)="onSubmit()">
      <!-- Tab navigation -->
      <div class="form_tab_view d-flex gap-3 mt-4 overflow-auto">
        <div class="form_tab" *ngFor="let tab of tabs" [class.active]="activeTab === tab.id" (click)="setActiveTab(tab.id)">
            <button class="btn btn_tab" 
            [ngClass]="{
              'active_tab': activeTab === tab.id,
              'invalid-tab': propertyForm.get(tab.id)?.invalid && (propertyForm.get(tab.id)?.dirty || propertyForm.get(tab.id)?.touched)
            }">
      {{ tab.label }}
    </button>
        </div>
      </div>
      
      <!-- Tab content components -->
       <!--
      <div class="tab-content">
        <-- Each tab is a separate component -->
        <!-- General Tab -->
        <app-general-tab *ngIf="activeTab === 'general'" [parentForm]="generalGroup"></app-general-tab>

      <!---
        <app-location-tab *ngIf="activeTab === 'location'" [parentForm]="propertyForm.get('location')"></app-location-tab>
        <app-specification-tab *ngIf="activeTab === 'specification'" [parentForm]="propertyForm.get('specification')"></app-specification-tab>
        <app-amenities-tab *ngIf="activeTab === 'amenities'" [parentForm]="propertyForm.get('amenities')"></app-amenities-tab>
        <app-price-tab *ngIf="activeTab === 'price'" [parentForm]="propertyForm.get('price')"></app-price-tab>
        <app-media-tab *ngIf="activeTab === 'media'" [parentForm]="propertyForm.get('media')"></app-media-tab>
        <app-publication-tab *ngIf="activeTab === 'publication'" [parentForm]="propertyForm.get('publication')"></app-publication-tab>
        <app-contacts-tab *ngIf="activeTab === 'contacts'" [parentForm]="propertyForm.get('contacts')"></app-contacts-tab>
      </div> -->
       
    </form>
  </header>
  </div>
</div>
