<!-- sidebar.component.html -->
<div class="sidebar-wrapper">
  <div class="sidebar-container" [class.collapsed]="isCollapsed">
    <div class="sidebar-header">
      <div class="logo-area" *ngIf="!isCollapsed">
        
        <span class="app-name">Admin Controle Center</span>
      </div>
      <button class="toggle-button" (click)="toggleSidebar()">
        <i class="toggle-icon" [ngClass]="isCollapsed ? 'chevron-right' : 'chevron-left'"></i>
      </button>
    </div>

    <div class="sidebar-content">
      <div class="sidebar-section">
        <div class="section-title" [class.collapsed-title]="isCollapsed">
          <span *ngIf="!isCollapsed">Management Center </span>
          <div *ngIf="isCollapsed" class="mini-title">MC</div>
        </div>
        <ul class="menu-list">
          <li class="menu-item" routerLinkActive="active" routerLink="/admin/dashboard">
            <div class="icon-container">
              <i class="menu-icon user-icon"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Dashboard</span>
            <div class="tooltip" *ngIf="shouldShowTooltip()">Dashboard</div>
          </li>
          <li class="menu-item" routerLinkActive="active" routerLink="/admin/users">
            <div class="icon-container">
              <i class="fa-solid fa-users"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Users List</span>
            <div class="tooltip" *ngIf="shouldShowTooltip()">Users List</div>
          </li>
          <li class="menu-item" routerLinkActive="active" routerLink="/admin/messages">
            <div class="icon-container">
              <i class="menu-icon notifications-icon"></i>
              
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Messages</span>
            <div class="tooltip" *ngIf="shouldShowTooltip()">Messages</div>
          </li>
          <li class="menu-item" routerLinkActive="active" routerLink="/admin/properties-list">
            <div class="icon-container">
              <i class="menu-icon calendar-icon"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Pending Requests</span>
            <div class="tooltip" *ngIf="shouldShowTooltip()">Pending Requests</div>
          </li>
          <li class="menu-item" routerLinkActive="active" routerLink="/admin/properties">
            <div class="icon-container">
              <i class="menu-icon booking-icon"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Properties List</span>
            <div class="tooltip" *ngIf="shouldShowTooltip()">Properties List</div>
          </li>
        </ul>
      </div>

      <div class="sidebar-section">
        <div class="section-title" [class.collapsed-title]="isCollapsed">
          <span *ngIf="!isCollapsed">Quick Links</span>
          <div *ngIf="isCollapsed" class="mini-title">QL</div>
        </div>
        <ul class="menu-list">
          <li class="menu-item" routerLinkActive="active" routerLink="/user/history">
            <div class="icon-container">
              <i class="menu-icon history-icon"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">My History</span>
            <div class="tooltip" *ngIf="isCollapsed">My History</div>
          </li>
          <li class="menu-item" routerLinkActive="active" routerLink="/home">
            <div class="icon-container">
              <i class="menu-icon home-icon"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Home</span>
            <div class="tooltip" *ngIf="isCollapsed">Home</div>
          </li>
          <li class="menu-item">
            <div class="icon-container">
              <i class="menu-icon groups-icon"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Groups</span>
            <div class="tooltip" *ngIf="isCollapsed">Groups</div>
          </li>
          <li class="menu-item">
            <div class="icon-container">
              <i class="menu-icon phone-icon"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Phone Numbers</span>
            <div class="tooltip" *ngIf="isCollapsed">Phone Numbers</div>
          </li>
          <li class="menu-item">
            <div class="icon-container">
              <i class="menu-icon integrations-icon"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Integrations</span>
            <div class="tooltip" *ngIf="isCollapsed">Integrations</div>
          </li>
          <li class="menu-item">
            <div class="icon-container">
              <i class="menu-icon plan-icon"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Plan & Billing</span>
            <div class="tooltip" *ngIf="isCollapsed">Plan & Billing</div>
          </li>
          <li class="menu-item">
            <div class="icon-container">
              <i class="menu-icon contacts-icon"></i>
            </div>
            <span class="menu-text" *ngIf="!isCollapsed">Contacts</span>
            <div class="tooltip" *ngIf="isCollapsed">Contacts</div>
          </li>
        </ul>
      </div>
    </div>

   
  </div>
  
  
</div>