<app-header></app-header>
<section class="hero bg-color ">
    <div class="hero-content">
        <p class="category-label">REAL ESTATE</p>
        <h1 class="hero-title">Let's hunt for your dream residence</h1>
        <p class="hero-description">Explore our range of beautiful properties with the addition of separate accommodation suitable for you.</p>
        
        <!-- Search Box -->
        
    </div>
    
    <div class="hero-image">
        <img src="/assets/property.png" alt="Modern wooden and brick home">
    </div>
</section>

